<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <meta charset="utf-8">
        <title>Vue - BoolzApp</title>
    </head>
    <body>
        <div id="page-container">
            <div id="app-container">
                <div id="root" class="clearfix">
                    <aside>
                        <header>
                            <img class="my-avatar" src="avatar_icons/my_avatar.jpg" alt="">
                            <div class="icon-box">
                                <a href="#"><i class="fas fa-sync-alt"></i></a>
                                <a href="#"><i class="fas fa-comment-alt"></i></a>
                                <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                            </div>
                        </header>
                        <div id="notification-cta">
                            <div class="left-side">
                                <div class="bell-container">
                                    <i class="fas fa-bell-slash"></i>
                                </div>
                                <div class="text-box">
                                    <p>Ricevi notifiche di nuovi messaggi</p>
                                    <a href="#">
                                        <span>Attiva notifiche desktop</span>
                                        <i class="fas fa-angle-right"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="right-side">
                                <i class="fas fa-times"></i>
                            </div>
                        </div>
                        <div id="prev-conv">
                            <div class="input-box">
                                <div class="search-bar">
                                    <i class="fas fa-search"></i>
                                    <input type="text" name="" placeholder="Cerca o inizia una nuova chat">
                                </div>
                            </div>
                            <ul class="contact-list">
                                <li v-for="contact in contacts"
                                    @click="openChat(contact)"
                                    class="contact">
                                    <img :src="getAvatar(contact)" alt="">
                                    <div class="text-box">
                                        <div class="name">{{ contact.name }}</div>
                                        <p class="last-message">{{ contact.messages[contact.messages.length - 1].message }}</p>
                                    </div>
                                    <div class="last-access">
                                        17:21
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </aside>
                    <main>
                        <header>
                            <div class="left-side">
                                <img class="active-avatar" :src="getAvatar(activeChat)" alt="">
                                <div class="text-box">
                                    <div class="name">{{ activeChat.name }}</div>
                                    <p class="last-access">Ulitmo accesso 16:40</p>
                                </div>
                            </div>
                            <div class="right-side">
                                <a href="#"><i class="fas fa-search"></i></a>
                                <a href="#"><i class="fas fa-paperclip"></i></a>
                                <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                            </div>
                        </header>
                        <div id="chat-container">
                            <ul class="messages">
                                <li v-for="message in activeChat.messages"
                                    :class="message.status"
                                    class="message">
                                    <span>{{message.message}}</span>
                                    <small class="time">{{ message.date.substring(11, 16) }}</small>
                                </li>
                            </ul>
                        </div>
                        <footer>
                            <i class="far fa-smile"></i>
                            <input v-model='newMessage'
                                   @keyup.enter='sendMessage'
                                   placeholder="Scrivi un messaggio">
                            <i class="fas fa-microphone"></i>
                        </footer>
                    </main>
                </div>
            </div>
        </div>
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
