* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.visible {
    display: block;
}

.hidden {
    display: none !important;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: black;
}

input {
    border: none;
    outline: none;
}

#page-container {
    height: 100vh;
    position: relative;
}

#page-container::after {
    content: '';
    display: block;
    height: 85%;
    background: #d9dbd6;
}

#page-container::before {
    content: '';
    display: block;
    height: 15%;
    background: #009788;
}

#app-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 850px;
    width: 80%;
    min-height: 470px;
    height: 95%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05);
}

header {
    height: 60px;
    padding: 10px 15px;
    background: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    display: inline-block;
    font-size: 18px;
    margin-right: 20px;
    color: #919191;
}

aside {
    float: left;
    width: 34%;
    height: 95vh;
}

aside header {
    border-right: 1px solid #dadada;
    border-top-left-radius: 5px;
}

header img {
    height: 40px;
    border-radius: 50%;
}


#notification-cta {
    height: 80px;
    padding: 10px 15px;
    background: #8edafc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.05);
}

#notification-cta.hidden {
    display: none;
}

#notification-cta .left-side {
    display: flex;
    align-items: center;
}

#notification-cta .bell-container {
    width: 60px;
    height: 60px;
    padding: 18px;
    margin-right: 10px;
    font-size: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: #8edafc;
}

#notification-cta .text-box {
    font-size: 14px;
    font-weight: 600;
    opacity: 0.7;
}

#notification-cta .text-box a {
    display: block;
    font-size: 12px;
    font-weight: 500;

}

#notification-cta .text-box a:hover {
    text-decoration: underline;
}

#notification-cta .right-side {
    display: none;
    color: white;
    font-size: 24px;
}

#notification-cta:hover .right-side {
    display: block;
}

#prev-conv {
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.05);
    height: calc(100% - 60px - 80px);
}

#prev-conv.taller {
    height: calc(100% - 60px);
}

#prev-conv .input-box {
    background: #ededed;
    padding: 5px 10px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

#prev-conv .search-bar {
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    background: white;
}

#prev-conv .search-bar i {
    display: inline-block;
    padding-right: 15px;
    color: #919191;
    font-size: 20px;
}

#prev-conv .search-bar input {
    width: calc(100% - 35px);
    border: none;
    height: 100%;
    font-size: 16px;
}

#prev-conv .search-bar input::placeholder {
    color: #919191;
}

#prev-conv .contact-list {
    height: calc(100% - 52px);
    overflow-y: auto;
    list-style-type: none;
}

#prev-conv .contact-list .contact {
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    cursor: default;
}


#prev-conv .contact-list .contact:hover {
    background: #f2f2f2;
}

#prev-conv .contact-list .contact.active {
    background-color: #ddd;
}

#prev-conv .contact-list .contact img {
    height: 50px;
    margin: 10px 10px;
    border-radius: 50%;
    box-shadow: 2px 0 1px 1px rgba(0, 0, 0, 0.05);
}

#prev-conv .contact-list .contact .text-box {
    flex-grow: 1;
    max-width: calc(100% - 50px - 20px - 5px - 40px);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #f2f2f2;
    border
}

.name {
    font-size: 18px;
    font-weight: 600;
}

.name + p {
    font-size: 14px;
    height: 1em;
    text-overflow: ellipsis;
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    color: #696969;
}

#prev-conv .contact-list .contact .last-access {
    width: 40px;
    padding: 20px 10px 5px 0;
    font-size: 12px;
    color: #696969;
    border-bottom: 1px solid #f2f2f2;
}

main {
    height: 95vh;
    width: 66%;
    float: left;
}

main header {
    border-top-right-radius: 5px;
}

header .left-side {
    display: flex;
    align-items: center;
}

header .left-side img {
    margin-right: 10px;
}

#chat-container {
    height: calc(100% - 120px);
    max-height: calc(100% - 120px);
    background: url("https://fsb.zobj.net/crop.php?r=-P6OqVJVtAEn3HWiU44dCF8VtpVjSmB5btM0cUHqUgbi2xFGN3YQ8q3XpEUlOG0hF6rSZas8eX_zBoKWmF3IaPifbkt6ToV-mPQB0-EwU4wUa31Iu5gWsZjCHzaoC73kj1mmSdn2oKc1q0nIrFZCkWHE_fyIsJaPkcw0jDptCxL1Kxt0me-T_Jx8Ts0");
    position: relative;
}

.messages {
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
    list-style-type: none;
}

.message {
    padding: 10px 25px 10px 15px;;
    max-width: 300px;
    min-width: 70px;
    border-radius: 10px;
    margin-bottom: 15px;
    clear: both;
    position: relative;
    box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.05);
}

.message:first-child {
    margin-top: 10px;
}
.received {
    float: left;
    background: white;
    margin-left: 70px;
}

.message.received::after {
    content: '';
    display: inline-block;
    border: 15px solid transparent;
    border-top-color: white;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-45%);
    z-index: 0;
}

.sent {
    float: right;
    background: #dcf8c7;
    margin-right: 70px;
}

.message.sent::after {
    content: '';
    display: inline-block;
    border: 15px solid transparent;
    border-top-color: #dcf8c7;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(45%);
    z-index: 0;
}

.message i {
    display: none;
    position: absolute;
    z-index: 2;
    top: 2px;
    right: 5px;
    color: #78886a;
    font-size: 20px;
    cursor: pointer;
}

.message:hover i {
    display: block;
}

.message .dropdown {
    display: block;
    white-space: nowrap;
    position: absolute;
    top: 18px;
    right: 2px;
    background: white;
    z-index: 2;
    list-style-type: none;
    border-radius: 5px;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05);
}

.message.received .dropdown {
    right: -125px;
}

.message .dropdown li {
    display: block;
    font-size: 14px;
    opacity: 0.8;
    padding: 5px 10px;
    cursor: default;
}

.message .dropdown li:hover {
    background: #f2f2f2;
}

.message .time {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 8px;
    color: #78886a;
}

footer {
    height: 60px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f0f0f0;
    border-bottom-right-radius: 5px;
}

footer i {
    margin-left: 15px;
    font-size: 20px;
    color: #939393;
}

footer .fa-smile {
    margin-left: 0;
    margin-right: 15px;
}

.fa-paper-plane {
    color: lightblue;
    cursor: pointer;
}

.fa-paper-plane:hover {
    color: blue;
}

.rotate {
    animation: rotation 0.5s ease;
    animation-fill-mode: forwards;

}

@keyframes rotation {
    0 {}
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg);
    }
}
footer input {
    flex-grow: 1;
    height: 100%;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px
}

footer input::placeholder {
    color: #9b9b9b;
}
